@import url('https://nightbloo.github.io/dubtrack/dubtrack.css'); 
@import url('https://nightbloo.github.io/dubtrack/video/left.css'); 
@import url('https://nightbloo.github.io/dubtrack/chat/left.css'); 
@import url('https://hebgbs.github.io/rainbowstuff.css'); /* Rainbow sliders and progress bars */
@import url("https://frosolf.github.io/mixercore.css"); /* Chillout Mixer core theme */
#main-room:not(.fullscreenParent) {max-width: 100vw;} 
#main-room:not(.fullscreenParent) .left_section { width: 61vw; } 
#main-room:not(.fullscreenParent) #main_player .player_container { height: 61vh; } 
